/* Modificação da barra de rolagem da pagina */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: #6c63ff;
  border-radius: 30px;
}

/* configurações basicas da pagina com font Poppins e border-box */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
