@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100&display=swap");

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: #6c63ff;
  border-radius: 30px;
}

body {
  background: #000000;
}

.lnr-eye {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #1b2029;
  color: white;
  font-weight: 500;
  display: flex;
  min-height: 100vh;
}

main {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main h1 {
  color: purple;
  font-size: 3rem;
  margin-bottom: 3rem;
}
main .social-media {
  display: flex;
  align-content: center;
}

main .social-media {
  text-decoration: none;
}

main .social-media img {
  width: 36px;
  margin-left: 3rem;
}

main .social-media a:first-child img {
  margin-left: 0;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main form label {
  display: flex;
  flex-direction: column;
}

main form label span {
  font-size: 1.1rem;
  margin-top: 2rem;
}

main form input {
  background: #161923;
  width: 300px;
  height: 50px;
  padding: 0 0.5rem;
  margin-top: 1rem;
  outline: none;
  color: rgba(166, 166, 166);
  font-size: 1rem;
  border: 1px solid #040b18;
  border-radius: 8px;
}
main form button {
  background: #161923;
  width: 300px;
  height: 50px;
  padding: 0 0.5rem;
  margin-top: 1rem;
  outline: none;
  color: rgba(166, 166, 166);
  font-size: 1rem;
  border: 1px solid #040b18;
  border-radius: 8px;
}

main form input[type="submit"] {
  cursor: pointer;
  width: 50%;
  margin-top: 4rem;
  border: none;
  border-radius: 32px;
  background: #6c63ff;
  color: white;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
}

main form input[type="submit"]:hover {
  background: #5952d4;
}

.third {
  border-color: #6c63ff;
  color: #fff;
  box-shadow: 0 0 400px 40px #6c63ff inset, 0 0 0 0 #6c63ff;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #6c63ff inset, 0 0 10px 4px #6c63ff;
}
